[Desktop Entry]
Name=Sudoku Solver
Comment=Simple sudoku solver
Exec=sudokusolver
Icon=/usr/share/icons/sudoku.jpg
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
