[Desktop Entry]
Name=Sudoku Solver
Comment=Simple sudoku solver
Exec=sudokusolver
Icon=~/.sudokusolver/Sudoku_Solver/sudoku.jpg
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
